<div class="bg-warning mt-3 pt-3 mb-3">
      <h2>How To Play</h2>
      <hr class="dropdown-divider">

      <div class="content text-start p-3">
            <p>'Rock, Paper, Scissors' is a simple hand game with many names and variations.</p>
            <p>The rules require that competing players use one hand to form one of three shapes at an agreed-upon time. The person that plays the strongest “object” is the winner of the game. It's that easy!</p>
            <p>In this case, you're about to play this game against a computer. Once you pick your shape, the computer does so, and the winner is announced immediately.</p>
            <p>The three rules are as follows:</p>
            <ul class="list-group w-50">
                  <li class="list-group-item">Rock beats scissors.</li>
                  <li class="list-group-item">Scissors beat paper.</li>
                  <li class="list-group-item">Paper beats rock.</li>
            </ul>
      </div>
      <hr class="dropdown-divider">

      <h2>Interesting facts</h2>
      <hr class="dropdown-divider">
      
      <div class="content text-start p-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum perferendis autem distinctio, nulla nihil cum, quam voluptatem sequi porro quos consequuntur libero voluptates non, nostrum magni ullam suscipit earum et praesentium esse! Eius sit vitae impedit ipsa nihil fuga omnis.</p>
      </div>
</div>
