<div class="container pb-3">
    
        <div class="row p-3">
            <div class="player col bg-secondary bg-gradient p-2 m-2 rounded">
                <div class="user">
                    <h2>Choose</h2>
                    <hr class="dropdown-divider">
    
                    <div class="option btn btn-primary" id="Rock" type="button">Rock</div>
                    <div class="option btn btn-primary" id="Paper" type="button">Paper</div>
                    <div class="option btn btn-primary" id="Scissors" type="button">Scissors</div>
                </div>
                <div id="decisionDisplay">
                    <h2>You picked</h2>
                    <hr class="dropdown-divider">
    
                    <div>
                        <button class="btn btn-danger" id="userDecision"></button>
                    </div>
                </div>
            </div>
    
            <div class="bot col bg-primary bg-gradient p-2 m-2 rounded">
                <h2>Computer picked</h2>
                <hr class="dropdown-divider">
                <div>
                    <button id="botDecision" class="btn btn-danger mx-auto"></button>
                </div>
            </div>
        </div>
    
        <div id="result" class="bg-secondary rounded-pill p-3 w-50 mx-auto">
        </div>
    
        <div class="resetDiv p-3">
            <button class="btn btn-secondary" id="resetButton">Play Again</button>
        </div>
</div>